body {
    padding-top: 100px;
}


/***** HEADER *****/


/* Top - Navbar */

#sony {
    width: 70px;
}


/***** MAIN *****/

.jumbotron {
    min-width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#returnal {
    background-image: url('../img/jumbo-bg.png');
}


/* Fifth Section */

#it-takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}


/*  Eleventh Section  */

.bg-section11 {
    background-color: #161c3b;
}


/* Footer */

#PS-logo {
    width: 10%;
}

#language {
    width: 3%;
}

#sie-logo {
    width: 15%;
}


/* BONUS */

.navbar a:hover {
    color: black !important;
}

.btn:hover {
    outline: 1px solid white;
    outline-offset: -3px;
}

.game {
    transition: transform 1s;
}

.game:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.device:hover {
    border-bottom: 1px solid blue;
    opacity: 1 !important;
    cursor: pointer;
}


/* Dropdown */

.dropdown-menu {
    width: 100vw;
}

#joypad {
    width: 15%;
}