/***** HEADER *****/


/* Top - Navbar */

#sony {
    width: 70px;
}


/***** MAIN *****/

.jumbotron {
    background-image: url('../img/jumbo-bg.png');
    min-width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}

#returnal {
    width: 50%;
}

.jumbotron-second {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    min-width: 100%;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#it-takes-two {
    width: 50%;
}

.bg-section11 {
    background-color: #161c3b;
}


/* Footer */

#PS-logo {
    width: 10%;
}

#language {
    width: 2%;
}

#sie-logo {
    width: 15%;
}


/* BONUS */

.btn:hover {
    outline: 1px solid white;
    outline-offset: -3px;
}